{{#each datas}}
    <div class="col-md-6">
        <div class="probootstrap-service-2">
            <div class="image">
                <div class="image-bg">
                    <img src="img/img_sm_1.jpg" alt="Free Bootstrap Template by uicookies.com">
                </div>
            </div>
            <div class="text">
                <span class="probootstrap-meta"><i class="icon-map-pin"></i> {{this.location}}</span>
                <h3> {{this.college_name}}</h3>
                <br>
                <p><a href="#" class="btn btn-primary">Enroll now</a>
                </p>
            </div>
        </div>
    </div>

{{/each}}
